@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-roboto: 'Roboto', sans-serif;
  --font-libertinus: 'Libertinus Math', sans-serif;
}

@utility stone-text {
  @apply text-stone-800 dark:text-stone-200;
}

@utility stone-text-muted {
  @apply text-stone-600 dark:text-stone-400;
}

@utility stone-border {
  @apply border-stone-400 dark:border-stone-600;
}

@utility stone-bg-dark {
  @apply bg-stone-300 dark:bg-stone-950;
}

@utility stone-bg {
  @apply bg-stone-200 dark:bg-stone-900;
}

@utility stone-bg-light {
  @apply bg-stone-50 dark:bg-stone-800;
}

@utility bg-primary {
  @apply bg-red-500 dark:bg-red-600;
}

@utility bg-primary-light {
  @apply bg-red-500/60 dark:bg-red-600/60;
}

@layer components {
  .btn {
    @apply mt-2 w-full max-w-xs cursor-pointer rounded-md px-4 py-2 text-center font-semibold;
    @apply stone-bg-light;
    @apply font-semibold;
    @apply stone-border border;
    @apply hover:bg-primary-light;
  }

  .modal-btn {
    @apply mx-4 flex cursor-pointer items-center justify-center gap-2 rounded-lg px-4 py-3;
    @apply stone-bg-light;
    @apply hover:bg-primary-light;
    @apply stone-border border;
  }

  .card {
    @apply mb-4 flex w-full flex-col rounded-lg px-4 py-4 md:px-6;
    @apply stone-bg;
    @apply stone-border border;
  }

  .modal-body {
    @apply stone-bg mx-4 mt-18 mb-auto flex w-full max-w-xs flex-col rounded-lg;
    @apply stone-border border;
  }

  .footer-button {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      color 0.3s ease;
    @apply mx-6 flex w-16 translate-y-1.75 cursor-pointer flex-col items-center justify-between px-6 text-center text-sm font-bold transition-all;
    @apply stone-text-muted;
  }

  .footer-button .iconify {
    @apply pointer-events-none block scale-125 leading-none transition-all duration-300;
  }

  .footer-button .tab-label {
    @apply pointer-events-none mt-1 translate-y-2 opacity-0 transition-all duration-300;
  }

  .footer-button.active .iconify,
  .footer-button.active .tab-label {
    @apply stone-text;
  }

  .footer-button.active .iconify {
    @apply -translate-y-2 scale-150;
  }

  .footer-button.active .tab-label {
    @apply translate-y-0 opacity-100;
  }

  .tab-item {
    @apply flex-1 cursor-pointer rounded-lg py-4 text-center w-full;
    @apply stone-bg-light;
    @apply stone-border border;
    @apply hover:bg-primary-light;
  }

  .tab-item.active-tab {
    @apply font-semibold;
    @apply bg-primary;
    @apply hover:bg-primary-light;
  }

  .section {
    @apply mx-auto flex w-full max-w-2xl flex-col px-2 py-4 transition-all duration-300 ease-out;
  }
}